<section>

    <form action='/' method='post'>
        <input type='text' name='url' placeholder="example.nl">
        <input type='submit' value='Send'>
    </form>

    <% if (locals.data) { %>
    <div id="audit-data">
        <% data.forEach(audit => { %>
        <input type="hidden" name="<%= Object.keys(audit) %>" value="<%= Object.values(audit) %>">
        <% }) %>
    </div>
    <% } %>

    <svg></svg>

</section>