<section id="intro">
    <p>Welcome Roger!</p>

    <p tabindex="1" id="intro-text">
        With this tool you can view the technical score of a website and gain more insight into its
        accessibility. You can use this tool, for example, with a customer to jointly provide insight into improvements
        in the area of accessibility or to start a discussion together. This data is about technical accessibility, it
        is of course always better to look at the experience of the (limited) users.
    </p>

    <p>Do you use your own screenreader?</p>

    <form id="intro-form">
        <label><input name="screenreader" type="radio" value="yes">Yes</label>
        <label><input name="screenreader" type="radio" value="no">No</label>
    </form>

    <button>Use the tool!</button>

    <audio class="audio">
        <source src="/audio/Elevator-music.mp3" type="audio/mpeg">
    </audio>

</section>

<section id="focus">
    <div loading class="hide">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            style="margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto;"
            width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#ebebeb" stroke-width="25" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(6.00768 50 50)">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
                    values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
        </svg>
    </div>

    <form action='/' method='post'>
        <input type='text' name='url' placeholder="example.nl">
        <input type='submit' value='Get data'>
    </form>

    <p title></p>

    <svg></svg>

    <div buttons></div>
</section>