@import './base/_base.scss';
@import './layout/_layout.scss';

html, body {
    height: 100%;
}

body {
    background: $main-color;
    color: $font-color;
    @include font($font-medium, 500, 18px);

    section {
        padding: 50px;

        form {
            padding-bottom: 40px;
            width: 50%;
            display: flex;
            margin: auto;

            input {
                padding: 8px 14px;
                font-size: 16px;
            }

            input[type='text'] {
                flex-grow: 1;
                margin-right: 10px;
            }
        }

        p {
            text-align: center;
        }
    }
}