@import './base/_base.scss';
@import './layout/_layout.scss';

html, body {
    height: 100%;
}

body {
    background: $main-color;
    color: $font-color;
    @include font($font-medium, 500, 20px);

    section {
        padding: 50px;
    }

    section p:first-of-type {
        width: 600px;
        margin: auto;
    }

    section p:nth-of-type(2) {
        width: fit-content;
        margin: 30px auto 10px auto;
    }
}

table {
    border: 2px solid $base-color;
    margin: auto;

    thead {
        border-bottom: 2px solid $base-color;
    }

    td, th {
        padding: 8px 16px;
        border-right: 2px solid $base-color;
    }

    tr td:first-of-type {
        text-align: right;
    }
}