@import './base/_base.scss';
@import './layout/_layout.scss';

body {
    background: $main-color;
    color: $font-color;
    @include font($font-medium, 500, 20px);

    #intro {
        margin: 50px;

        p:first-of-type {
            text-align: center;
        }

        p:first-of-type, p:nth-of-type(2) {
            max-width: 800px;
            margin: 0px auto 20px auto;
        }

        p:nth-of-type(3) {
            margin: 80px auto 0px auto;
            width: fit-content;
        }

        #intro-text:focus {
            background-color: $base-color;
            color: $main-color;
        }

        form {
            width: fit-content;
            margin: auto;
        }

        button {
            display: block;
            background-color: white;
            padding: 8px 14px;
            font-size: 16px;
            border: none;
            margin-top: 100px;
            margin: 100px auto 0px auto;
        }

        form label:last-of-type {
            margin-left: 24px;
        }

        form input {
            margin-right: 10px;
        }
    }

    #focus {
        margin: 50px;
        display: none;

        form {
            padding-bottom: 40px;
            width: 50%;
            display: flex;
            margin: auto;

            input {
                padding: 8px 14px;
                font-size: 16px;
            }

            input[type='text'] {
                flex-grow: 1;
                margin-right: 10px;
            }

            input[type='submit'] {
                background-color: white;
            }
        }

        p {
            text-align: center;
        }

        .bars-container rect {
            fill: green;

            &:focus {
                fill: red;
            }
        }

        .yAxis, .xAxis {
            @include font($font-medium, 500, 20px);
        }

        [buttons] {
            margin-top: 80px;
            display: flex;

            div {
                display: inline-block;
                flex-grow: 1;
                padding: 10px;
                border: 1px solid $base-color;

                &:not(:last-of-type) {
                    margin-right: 10px;
                }

                &:hover {
                    background-color: $base-color;
                    color: $main-color;
                    cursor: pointer;
                }
            }

            .active {
                background-color: $base-color;
                color: $main-color;
            }
        }

        .more-info article {
            padding: 20px 10px;

            &:focus {
                background-color: $base-color;
                color: $main-color;
            }
            
            p {
                text-align: left;
                margin-bottom: 10px;
            }

            p:first-of-type {
                @include font($font-semibold, 700, 22px);
            }
        }

        [loading] {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(33, 33, 33, 0.5);

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.hide {
    display: none;
}

.block {
    display: block;
}