// Colors
$main-color: #222222;
$base-color: #ebebeb;

$font-color: #ebebeb;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 960px;
$breakpoint-tablet: 780px;
$breakpoint-mobile: 400px;

// Fonts
$font-medium: "EB Garamond", "Roboto", "Arial", sans-serif;
$font-semibold: "EB Garamond", "Roboto", "Arial", sans-serif;
$font-bold: "EB Garamond", "Roboto", "Arial", sans-serif;